<!DOCTYPE html>
<html lang="en">
<head>
<body>
    welcome to ejs
    <%=name %>
   

    <ul>
<% courses.forEach((item)=>{
%>

<li><%=item %></li>

<%})%>



    </ul>
</body>
</html>